<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p></p>
{% for product in products %}
  <div class="block">
    <a href="#">
      <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
      <div class="text">
        <h3>{{ product.category.name }}</h3>
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
          <p>{{ el.created_at }}</p>
          <p>{{ el.name }}</p>
      </div>
    </a>
  </div>
{% endfor %}
    {% for el in categorys %}
        <p>{{ el.created_at }}</p>
          <p>{{ el.name }}</p>
{% endfor %}

</body>
</html>